

article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {
    display: block
}


.sidebar {
    z-index: 999999;
    position: fixed;
    top: -1px;
    bottom: -1px;
    padding: 0;
    width: auto;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175)
}

.sidebar>.row>.col-xs-12,.sidebar>.row>.col-sm-12,.sidebar>.row>.col-md-12,.sidebar>.row>.col-lg-12 {
    padding: 0;
    position: absolute;
    bottom: 0;
    top: 0;
    overflow: auto
}

.sidebar>.row {
    margin: 0
}

.sidebar {
    width: auto
}

.sidebar.sidebar-left {
    left: 0;
    right: 20px
}

.sidebar.sidebar-right {
    right: 0;
    left: 20px
}

@media(min-width: 310px) {
    .sidebar {
        width:250px;
        margin: 0;
        padding: 0
    }
}

@media(min-width: 360px) {
    .sidebar {
        width:300px;
        margin: 0;
        padding: 0
    }
}

@media(min-width: 528px) {
    .sidebar {
        width:300px
    }

    .sidebar.sidebar-left {
        left: 0;
        right: auto
    }

    .sidebar.sidebar-right {
        right: 0;
        left: auto
    }
}

@media(min-width: 768px) {
    .sidebar {
        width:300px
    }

    .sidebar.sidebar-left {
        left: 0;
        right: auto
    }

    .sidebar.sidebar-right {
        right: 0;
        left: auto
    }
}

@media(min-width: 992px) {
    .sidebar {
        width:300px
    }

    .sidebar.sidebar-left {
        left: 0;
        right: auto
    }

    .sidebar.sidebar-right {
        right: 0;
        left: auto
    }
}

@media(min-width: 1200px) {
    .sidebar {
        width:300px
    }

    .sidebar.sidebar-left {
        left: 0;
        right: auto
    }

    .sidebar.sidebar-right {
        right: 0;
        left: auto
    }
}

.toggler {
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    width: 24px;
    height: 52px;
    position: absolute;
    top: 45%;
    cursor: pointer
}

.sidebar-left>.toggler {
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-left: 1px solid #fff;
    -webkit-box-shadow: 1px 0 8px rgba(0,0,0,.175);
    box-shadow: 1px 0 8px rgba(0,0,0,.175);
    right: -24px
}

.sidebar-left>.toggler>span {
    margin: 15px 3px;
    font-size: 1.2em;
    font-weight: 600;
    transition: color .3s ease-out
}

.sidebar-left>.toggler:hover>span {
    color: #e42049;
}

.sidebar-left>.toggler>.glyphicon-chevron-right {
    display: none
}

.sidebar-right>.toggler {
    -webkit-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-right: 1px solid #fff;
    -webkit-box-shadow: -1px 0 8px rgba(0,0,0,.175);
    box-shadow: -1px 0 8px rgba(0,0,0,.175);
    left: -20px
}

.sidebar-right>.toggler>span {
    margin: 15px 2px
}

.sidebar-right>.toggler>.glyphicon-chevron-left {
    display: none
}

.sidebar .submenu {
    display: none;
    position: fixed
}

.sidebar .list-group-item:last-child,.sidebar .list-group-item:first-child {
    border-radius: 0
}

.sidebar .list-group {
    margin-bottom: 0
}

.sidebar .list-group-item {
    padding: 5px;
    border: 1px solid #ddd;
    border-left: 0;
    border-right: 0;
    margin-bottom: 0;
    margin-top: -1px
}

.sidebar .list-group-item img{
    width: 25px;
    height: 25px;
}

.glyphicon-chevron-left {
    background: url(../img/arrow-left.png) center center no-repeat;
}

.glyphicon-chevron-right {
    background: url(../img/arrow-right.png) center center no-repeat;
}

left-slide-menu {
    overflow-x: hidden;
}
