
a:hover{
    text-decoration: none;
}

@media (max-width: 767px) {
    body.lock {
        overflow: hidden;
    }
}


/* -------- header -----------*/

.header {
    padding-bottom: 275px;
}

@media (max-width: 767px) {
    padding-bottom: 250px;
}

.top1_wrapper {
	background: url(../img/px1.jpg);
    overflow-x: hidden;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 99;
}

.top1_wrapper2{
	background: url(../img/px2.png) left bottom repeat-x; 
	padding-bottom: 24px;
}

.navbar-nav > li > a {
	display: block;
    text-decoration: none;
    background: none;
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-size: 18px;
    color: #ffc2d5;
    border: none;
    -webkit-border-radius: 0;
    text-transform: uppercase;
    text-shadow: none;
}

.navbar-light .navbar-nav .nav-link {
    color: #ffc2d5;
}


.logo_wrapper {
	position: relative;
    left: 50%;
    margin-left: -84px;
    bottom: -35px;
}

.navbar-toggler{
    width: 47px;
    height: 34px;
    background-color: #e42049;
    border:none;
}
.navbar-toggler .line{
    width: 100%;
    float: left;
    height: 2px;
    background-color: #fff;
    margin-bottom: 5px;
}

li {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar-light .navbar-nav .active>.nav-link {
	    color: #fff;
	    font-size: 20px;
}

@media (min-width: 980px) {
	.navbar-light .navbar-nav .active>.nav-link {
	    color: #fff;
	    text-decoration: none;
	    background: url(../img/nav.png) center center no-repeat;
	    box-shadow: none;
	    moz-box-shadow: none;
	    padding-bottom: 25px;
	    padding-top: 25px;
	}
}

@media (max-width: 980px) {
	li {
	    border-bottom: 1px solid #ffc2d5;
	}
}

/*----------- Content -------------*/

.menu_type .post-thumbnail img {
    border-radius: 50%;
}

.menu_type .entry-title a {
    font-family: 'Bad Script', cursive;
    font-weight: 400;
    color: #e35d86;
    font-size: 44px;
}
.link-view-menu {
    font-weight: bold;
    font-size: 15px;
    color: #0d0c0a;
}

.post .entry-content p {
    font-size: 14px;
    color: #211c1c;
    line-height: 23px;
}


.greeting-info{
    text-align: center;
    font-family: IskraCYR-Regular,sans-serif;
    font-size: 24px;
    color: #636363 !important;
}
.greeting-info2 {
    text-align: center;
    font-family: IskraCYR-Regular,sans-serif;
    font-size: 16px;
    color: #636363 !important;
}



/*----------footer--------*/

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #fcece6;
  color: white;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.phone-number-bottom {
    font-size: 16px;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        color: #6c6c6c;
}

