body, html {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;

    display: flex;
    flex-direction: column;
}

a:hover{
    text-decoration: none;
}

@media (max-width: 767px) {
    body.lock {
        overflow: hidden;
    }
}


/* -------- header -----------*/

.header {
    padding-bottom: 275px;
}

@media (max-width: 767px) {
    .header {
     padding-bottom: 250px;
    }
}

.top1_wrapper {
	background: url(../img/px1.jpg);
    overflow-x: hidden;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 99;
}

.top1_wrapper2{
	background: url(../img/px2.png) left bottom repeat-x; 
	padding-bottom: 24px;
}

.navbar-nav > li > a {
	display: block;
    text-decoration: none;
    background: none;
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-size: 18px;
    color: #ffc2d5;
    border: none;
    -webkit-border-radius: 0;
    text-transform: uppercase;
    text-shadow: none;
}

.navbar-light .navbar-nav .nav-link {
    color: #ffc2d5;
}

.navbar-light .navbar-nav .nav-link-unable {
    color: #b4aeb8;
    cursor: default;
}


.logo_wrapper {
	position: relative;
    left: 50%;
    margin-left: -84px;
    bottom: -35px;
}

.navbar-toggler{
    width: 47px;
    height: 34px;
    background-color: #e42049;
    border:none;
}
.navbar-toggler .line{
    width: 100%;
    float: left;
    height: 2px;
    background-color: #fff;
    margin-bottom: 5px;
}

.nav-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar-light .navbar-nav .active>.nav-link {
	    color: #fff;
	    font-size: 20px;
}

@media (min-width: 980px) {
	.navbar-light .navbar-nav .active>.nav-link {
	    color: #fff;
	    text-decoration: none;
	    background: url(../img/nav.png) center center no-repeat;
	    box-shadow: none;
	    moz-box-shadow: none;
	    padding-bottom: 25px;
	    padding-top: 25px;
	}
}

@media (max-width: 980px) {
	li {
	    border-bottom: 1px solid #ffc2d5;
	}
}

/*----------- Content -------------*/

section {
    flex: 1 1 auto;
}


.menu_type .post-thumbnail img {
    border-radius: 50%;
    width: 155px;
    height: 155px;
}

.menu_type h2 {
    font-family: 'Bad Script', cursive;
    font-weight: 400;
    color: #e35d86;
    font-size: 24px;

}

header.entry-header {
    margin-left: 10px;
    margin-right: 10px;
}


.menu_type h2 {
    line-height: 0.7;
    height:50px;
    text-align: center;
}
.menu_type {
    margin-bottom: 30px;
}
.post-thumbnail {
    text-align: center;
}

.link-view-menu {
    font-weight: bold;
    font-size: 15px;
    color: #0d0c0a;
}

.post .entry-content p {
    font-size: 14px;
    color: #211c1c;
    line-height: 23px;
}


.greeting-info{
    text-align: center;
    font-family: IskraCYR-Regular,sans-serif;
    font-size: 24px;
    color: #636363 !important;
}
.greeting-info2 {
    text-align: center;
    font-family: IskraCYR-Regular,sans-serif;
    font-size: 16px;
    color: #636363 !important;
}

.card {
    margin-bottom: 10px;
    margin-top: 10px;
}

.comments {
    padding-top: 49px;
    width: 480px;
    height: 400px;
    float: left;
    margin-right: 20px;
}

.comments q {
    font-family: "Conv_FrizQuadrataC-Italic";
    width: 283px;
    color: #b97fdc;
    font-size: 17pt;
    line-height: 21pt;
    padding-bottom: 23px;
}

@media (max-width: 767px) {
    .comments {
    padding-top: 49px;
    width: 100%;
    height: 100%;
    float: left;
    margin-right: 20px;
    }

    .comments q {
       width: 100%;
    }
}

.comment_head {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.c__title {
    font-family: "Conv_FrizQuadrataC-Italic";
    width: 283px;
    margin: 0px 0px 0px 15px;
    color: #b97fdc;
    font-size: 17pt;
    line-height: 21pt;
    border-bottom: solid 1px #9625cc;
    padding-bottom: 23px;
    text-align: left;
}

.comments .comment_body blockquote {
    text-align: justify;
    font-size: 13.5pt;
    line-height: 17pt;
}

.order-info {
    text-align: left;
}

.order-info p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    line-height: 20px;
    font-family: IskraCYR-Regular,sans-serif;
    font-size: 16px;
    color: #4a4747 !important;
}

.tort-weight-text p {
    padding: 0 0 1em;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.main-top .row h3 {
    font-family: 'Bad Script', cursive;
    font-weight: bold;
    color: #e35d86;
    font-size: 24px;
}

.card-body {
    padding: 0.25rem 0.55rem 0.25rem 0.75rem;
}
.card-body p {
    font-family: IskraCYR-Regular,sans-serif;
    font-size: 20px;
    font-weight: bold;
    display: block;
    max-width: 60%;
}

.card-img-top {
  display: block;
  width: 100%;
  padding: 1px 1px 0 1px;

}


.card-description p {
    margin-left: 5px;
    margin-right: 5px; 
    text-align: left;
    font-size: 15px;  
}

.tort-price p {
    line-height: 0.4
}

iframe {
    width: 500px;
    height: 450px;
} 

@media (max-width: 767px) {
    iframe {
     width: 100%;
     height: 350px;
    }
}



/*----------footer--------*/

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #fcece6;
  color: white;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 50px;
}

.phone-number-bottom {
    font-size: 24px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #6c6c6c;
}

.footer__logo-bootom {
    padding-left: 100px;
    padding-right: 10px;
    border-right: 1px solid silver;
}

.footer__tel-bootom {
    display: flex;
    vertical-align: top;
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px solid silver;
}

.footer__tel-bootom a {
    margin: auto;
}

.footer__email-bootom {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px solid silver;
}

.footer__email-bootom a {
    margin: auto;
}

.footer__soc-seti-bootom {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px solid silver;
}

.footer__soc-seti-bootom a {
    margin: auto;
}

.footer__soc-seti-bootom a:first-child {
    padding-right: 2px;
}

.footer__dropdown {
    display: flex;
    padding-left: 10px;
}

.footer__dropdown .dropdown {
    margin: auto;
}
@media (max-width: 767px) {

    .footer__logo-bootom {
        margin: auto;
        padding : 0 0;
        border-right: 0;
    }

    .footer__tel-bootom {
        margin: auto;
        padding : 0 0;
        border-right: 0;
    }

    .footer__email-bootom {
        margin: 10px 10px 10px 40px;
        padding : 0 0;
        border-right: 0;
    }

    .footer__soc-seti-bootom {
        padding : 0 0;
        border-right: 0;
    }

    .footer__soc-seti-bootom a:first-child {
        padding-left: 2px;
        padding-right: 7px;
    }

    .footer__dropdown {
        margin: auto;
        padding : 10px 0 0 0;
        border-right: 0;
    }

}

.main-page-novinki li.col-lg-4 {
    width: 33%;
}

@media (max-width: 767px) {
  .main-page-novinki .col-sm-4.product {
    width: 50%;
  }
  .col-sm-4 {
    max-width: 100%
  }

}


.product-list {
    clear: both;
    margin-left: -15px;
    margin-right: -15px;
    list-style: none outside;
}
.p0 {
    padding: 0;
}

.product {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    list-style: none outside;
    z-index: 5;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.inner-product-content {
    border: 1px solid #e1e1e1;
    box-shadow: inset 0 0 0 1px white;
    background-color: #fff;
    overflow: hidden;
    border-radius: 2px;
    background-clip: padding-box;
    width: 100%;
    position: relative;
}
.product-catalog-image {
    position: relative;
    padding: 1px 1px 0 1px;
    width: 100%;
    z-index: 4;
}
.product-catalog-image img{
    width: 100%;
    height: auto;
    border-radius: 1px;
    background-clip: padding-box;
}

.product-catalog-description {
    margin: 0;
    padding: 15px 5px 10px 7px;
    z-index: 5;
    position: relative;
    min-height: 95px;
}

.product-catalog-description a{
  display: block;
  margin-right: 80px;
  text-decoration: none;
}

.product-catalog-description h3{
    padding: 0 0;
    margin: 0;
    font-size: 15px;
    font-weight: 700!important;
    margin-top: 5px;
    min-height: 55px;
    text-align: left;
    color: #000;
}
/*.price ins {
    text-decoration: none;
    color: #e42049!important;
}*/
.price {
    font-size: 24px;
    display: block;
    font-weight: 500;
    position: absolute;
    top: 10px;
    right: 7px;

}

.main-card {
    border: 1px solid #e1e1e1;
}

.card-footer {
    height: 110px;
    padding: 0;
}

.card-body__price {
    text-decoration: none;
    color: #e42049!important;
    font-size: 24px;
    font-weight: 600;
    font-family: Open Sans;
    padding-left: 5px;
}

.card-deck .card {
    max-width: 25rem;
    min-width: 18rem;
}
@media (max-width: 767px) {
    .card-deck .card {
     max-width: 15rem;
     min-width: 15rem;
    }
    .tort-price p {
        line-height: 0.9;
    }
    .card-body p {
        font-size: 16px;
    }
    .card-body__price {
        font-size: 20px;
    }
    .card-description p {
        font-size: 12px;
    }

}

@media (max-width: 576px) {
    .card-deck .card {
     max-width: 16rem;
     min-width: 16rem;
    }
    .tort-price p {
        line-height: 0.9;
    }
    .card-body p {
        font-size: 16px;
    }
    .card-body__price {
        font-size: 20px;
    }
    .card-description p {
        font-size: 12px;
    }
    .card-footer {
        height: auto;
    }

}

@media (max-width: 1140px) {
   .card-description p {
        font-size: 13px;
    }
}